{% extends 'admin.twig' %}

{% block title %}{{ 'Control panel'|translate_raw }}{% endblock %}

{% block admin_content %}
	<h1>{{ 'Requesters by realm'|t }}</h1>
	<section class="highlight">
	<form>
		<details {{ __filter_requester or __filter_realms ? 'open ' : '' }}class="form">
		<summary>{{ 'Filter'|t }}</summary>
			<div class="cols">
				<div>
					<dl>
						<dt>{{ 'Valid on'|t }}</dt>
						<dd><input type="datetime-local" name="valid_on" value="{{ __filter_valid_on|split('+')|first }}"> UTC</dd>
					</dl>
					<dl>
						<dt>{{ 'Requester'|t }}</dt>
						<dd>
							<input type="text" name="requester" value="{{ __filter_requester }}">
						</dd>
					</dl>
				</div>
				{% set realms = _realms %}
				{{ include('_realms-picker.twig') }}
			</div>
			<p><button type="submit">
				<small class="oojs-icon oojs-icon-funnel"></small>
				{{ 'Filter'|t }}
		</details>
	</form>
	</section>

	<hr>

	{% if requesters %}
	<table>
		<tr>
			<th>{{ 'Requester'|t }}</th>
			<th>{{ 'Realm'|t }}</th>
			<th class="center-col">{{ 'Earliest'|t }}</th>
			<th class="center-col">{{ 'Expires'|t }}</th>
			<th class="right-col">{{ 'Valid creds'|t }}</th>
			<th class="right-col">{{ 'Total creds'|t }}</th>
			<th></th>
		</tr>
		{% for requester in requesters %}
		<tr>
			<td class="overflow"><a href="{{ requester.requester_href }}">{{ requester.requester.name }}</a></td>
			<td><a href="{{ requester.realm_href }}">{{ requester.requester.realm }}</a></td>
			<td class="center-col">{{ requester.earliest_valid }}</td>
			<td class="center-col">{{ requester.last_valid }}</td>
			<td class="right-col">
				<a href="{{ requester.credential_unrevoked_href }}">{{ requester.valid_accounts }}
					<small class="oojs-icon oojs-icon-funnel"></small>
				</a>
			</td>
			<td class="right-col">
				<a href="{{ requester.credential_href }}">{{ requester.total_accounts }}
					<small class="oojs-icon oojs-icon-funnel"></small>
				</a>
			</td>
			<td>
				{% if requester.valid_accounts > 0 %}
				<button type="button" class="btn-danger" name="revoke_requester" value="{{ requester.requester.name }}" popovertarget="revoke_{{ requester.requester.name }}">{{ 'Revoke all'|t }}</button>

				<dialog class="modal" id="revoke_{{ requester.requester.name }}" popover>
					<form method="POST">
						<input type="hidden" name="valid_on" value="{{ __filter_valid_on|split('+')|first }}">
						<input type="hidden" name="realms" value="{{ requester.requester.realm }}">
						<h2>Are you sure you want to revoke all credentials for the following requester?</h2>
						<div class="form">
						<dl>
							<dt>Requester</dt>
							<dd>{{ requester.requester.name }}</dd>
						</dl>
						<dl>
							<dt>Realm</dt>
							<dd>{{ requester.requester.realm }}</dd>
						</dl>
						<dl>
							<dt>Credentials to be revoked</dt>
							<dd>{{ requester.valid_accounts }}</dd>
						</dl>
						</div>
						<div class="buttons">
						<button type="submit" class="btn-danger" name="revoke_requester" value="{{ requester.requester.name }}" popovertarget="revoke_{{ requester.requester.name }}">{{ 'Revoke'|t }}</button>
						<button type="button" class="btn-boring" popovertarget="revoke_{{ requester.requester.name }}">{{ 'Cancel'|t }}</button>
						</div>
					</form>
				</dialog>

				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p>{{ 'No results'|t }}
	{% endif %}
{% endblock %}
