{% extends 'admin.twig' %}

{% block title %}{{ 'Control panel'|translate_raw }}{% endblock %}

{% block admin_content %}
	<h1>{{ 'Pseudocredentials'|t }}</h1>
	<section class="highlight">
	<form>
		<details {{ __filter_requester or __filter_ident or __filter_revoked or __filter_realms ? 'open ' : '' }}class="form">
		<summary>{{ 'Filter'|t }}</summary>
			<div class="cols">
				<div>
					<dl>
						<dt>{{ 'Valid on'|t }}</dt>
						<dd><input type="datetime-local" name="valid_on" value="{{ __filter_valid_on|split('+')|first }}"> UTC</dd>
					</dl>
					<dl>
						<dt>{{ 'Requester'|t }}</dt>
						<dd>
							<input type="text" name="requester" value="{{ __filter_requester }}">
						</dd>
					</dl>
					<dl>
						<dt>{{ 'Ident'|t }}</dt>
						<dd>
							<input type="text" name="ident" value="{{ __filter_ident }}">
						</dd>
					</dl>
					<dl>
						<dt>{{ 'Revoked credentials'|t }}</dt>
						<dd>
							<input type="checkbox" id="filter_revoked" name="revoked" value="1" {{ __filter_revoked ? ' checked' : '' }}>
							<label for="filter_revoked">{{ 'Hide revoked' }}</label>
						</dd>
					</dl>

				</div>
				{% set realms = _realms %}
				{{ include('_realms-picker.twig') }}
			</div>
			<p><button type="submit">
				<small class="oojs-icon oojs-icon-funnel"></small>
				{{ 'Filter'|t }}
			</button>
		</details>
	</form>
	</section>

	<hr>

	{% if credentials %}
	<form method="POST"><input type="hidden" name="valid_on" value="{{ __filter_valid_on|split('+')|first }}">
		<table>
			<tr>
				<th class="overflow">{{ 'Ident'|t }}</th>
				<th>{{ 'Requester'|t }}</th>
				<th>{{ 'Issued'|t }}</th>
				<th class="center-col">{{ 'Expires'|t }}</th>
				<th class="center-col">{{ 'Revoked'|t }}</th>
				<th></th>
			</tr>
			{% for credential in credentials %}
			<tr>
				<td>{{ credential.credential_id|split('@')|first }}@<a href="{{ credential.realm_href }}">{{ credential.realm.realm_id }} <small class="oojs-icon oojs-icon-funnel"></small></a></td>
				<td><a href="{{ credential.requester_href }}">{{ credential.requester.user_id }}
					<small class="oojs-icon oojs-icon-funnel"></small></a></td>
				<td class="center-col nowrap-col">{{ credential.not_before }}</td>
				<td class="center-col nowrap-col">{{ credential.not_after }}</td>
				<td>
					{% if credential.revoked %}
					{{ credential.revoked }}
					{% else %}
					<button type="button" class="btn-danger" name="revoke_credential" value="{{ credential.credential_id }}" popovertarget="revoke_{{ credential.credential_id }}">{{ 'Revoke'|t }}</button>
					<dialog class="modal" id="revoke_{{ credential.credential_id }}" popover>
						<h2>Are you sure you want to revoke the following credential?</h2>
						<div class="form">
						<dl>
							<dt>Ident</dt>
							<dd>{{ credential.credential_id }}</dd>
						</dl>
						<dl>
							<dt>Requester</dt>
							<dd>{{ credential.requester.user_id }}</dd>
						</dl>
						</div>
						<div class="buttons">
						<button type="submit" class="btn-danger" name="revoke_credential" value="{{ credential.credential_id }}" popovertarget="revoke_{{ credential.credential_id }}">{{ 'Revoke'|t }}</button>
						<button type="button" class="btn-boring" popovertarget="revoke_{{ credential.credential_id }}">{{ 'Cancel'|t }}</button>
						</div>
					</dialog>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</table>
	</form>
	{% else %}
	<p>{{ 'No results'|t }}
	{% endif %}
{% endblock %}
