{% extends 'menu.twig' %}

{% block title %}{{ 'Control panel'|translate_raw }}{% endblock %}

{% block viewport %}
<meta name="viewport" content="width=800">
{% endblock %}

{% block content %}
<div class="cols">
<nav class="side-menu">
	<div>
		<h1><strong>{{ 'Control panel'|t }}</strong></h1>
		<div class="cols">
			<p>{{ _provider.display_name|t }}
				<br><code>{{ _provider.host }}</code>
			{% if _provider.logo %}
			<p><img src="{{ __admin_menu_prefix }}../profiles/info/logo.php" alt="">
			{% endif %}
		</div>
	</div>
	<hr>

	{% for category, submenu in __admin_menu %}
	<h2>{{ category|t }}</h2>
	<ul>
		{% for caption, href in submenu %}
		<li {{ href == __admin_menu_active ? ' class="active"' : '' }}><a href="{{ __admin_menu_prefix }}{{ href }}">{{ caption|t }}</a></li>
		{% endfor %}
	</ul>
	{% endfor %}
</nav>
<main>
{% block admin_content %}
<h1>{{ 'Control panel'|t }}</h1>

<h2>{{ 'Ident search'|t }}</h2>
<section class="highlight form"><form action="credentials/">
	<p>{{ 'Search for an ident from your RADIUS log'|t }}
	<dl>
		<dt>{{ 'Ident'|t }}</dt>
		<dd>
			<input type="text" name="ident" placeholder="id@realm">
			<small><button type="submit">
				<small class="oojs-icon oojs-icon-funnel"></small>
				{{ 'Filter'|t }}
			</button></small>
		</dd>
	</dl>
</section>

<section class="form">
	<dl>
		<dt>{{ 'Provider name'|t }}</dt>
		<dd>{{ _provider.display_name|t }}</dd>
	</dl>
	<dl>
		<dt>{{ 'Provider host'|t }}</dt>
		<dd><code>{{ _provider.host }}</code></dd>
	</dl>
</section>
{% endblock %}

</main>
</div>
{% endblock %}
