{% extends 'menu.twig' %}

{% block title %}{{ 'Administration panel'|translate_raw }}{% endblock %}

{% block content %}
<div class="cols">
<nav class="side-menu">
	<section>
		<h1><strong>{{ 'Administration panel'|t }}</strong></h1>
		<p>{{ _provider.display_name|t }}
	</section>
	<hr>

	{% for category, submenu in __admin_menu %}
	<h2>{{ category|t }}</h2>
	<ul>
		{% for caption, href in submenu %}
		<li {{ href == __admin_menu_active ? ' class="active"' : '' }}><a href="{{ __admin_menu_prefix }}{{ href }}">{{ caption|t }}</a></li>
		{% endfor %}
	</ul>
	{% endfor %}
</nav>
<main>
{% block admin_content %}
<h1>{{ 'Administration panel'|t }}</h1>

<section class="highlight form">
	<dl>
		<dt>{{ 'Provider name'|t }}</dt>
		<dd>{{ _provider.display_name|t }}</dd>
	</dl>
	<dl>
		<dt>{{ 'Provider host'|t }}</dt>
		<dd><code>{{ _provider.host }}</code></dd>
	</dl>
</section>
{% endblock %}

</main>
</div>
{% endblock %}
