{% extends 'dialog.twig' %}

{% block title %}{{ 'Authorize %s'|translate_raw(_product_name) }}{% endblock %}

{% block content %}
<form method="post">
{% if logoutUrl is defined %}
<header>
	<p class="logout">
		<a href="{{ logoutUrl }}" class="btn-txt">
			{{ 'Not %s?'|t(user.userId|escape) }}
		</a>
	</p>
</header>
{% endif %}
<main>
	<section>
	<h1>{{ 'Authorize %s'|t(_product_name) }}</h1>
{% if realms|length == 1 %}
	<p>{{ 'Do you want to issue a pseudo-credential?'|t }}</p>
	<p class="text-center"><button type="submit" class="btn btn-default" name="{{ postField }}" value="{{ postValue }}">{{ 'Approve'|t }}</button></p>
	<hr>
	<details>
		<summary>{{ 'Why is this needed?'|t }}</summary>
		<p>{{ 'Requiring a manual step prevents automated enrollment.'|t }}</p>
	</details>
{% else %}
	<p>{{ 'Select your user realm'|t }}</p>
{{ include('_realm-picker.twig') }}
	<p class="text-center"><button type="submit" class="btn btn-default" name="{{ postField }}" value="{{ postValue }}">{{ 'Continue'|t }}</button></p>
{% endif %}
	</section>
</main>
</form>
{% endblock %}
