<!DOCTYPE html>
<html lang="{{ _locale }}" class="{% block documentClass %}{% endblock %}">
<link rel="stylesheet" href="{{ _basePath }}/assets/letswifi.css">
{% if _branding_css_file %}
<link rel="stylesheet" href="{{ _basePath }}/assets/branding/{{ _product_shortname }}/{{ _branding_css_file }}">
{% endif %}
{% if _branding_favicon_file %}
<link rel="icon" href="{{ _basePath }}/assets/branding/{{ _product_shortname }}/{{ _branding_favicon_file }}">
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if meta_redirect %}
<meta http-equiv="refresh" content="0; url={{ meta_redirect }}">
{% endif %}
<title>{{ _product_name }} - {% block title %}{% endblock %}</title>
<header>
	{% block header %}<span id="product-name" aria-hidden>{{ _product_name }}</span>{% endblock %}
	<div id="systray">
		<div class="dropdown-container">
			<button class="dropdown-header" popovertarget="languages-dropdown">
				<span class="oojs-icon oojs-icon-language dropdown-header-collapse"></span>{{ 'Language'|t }}
			</button>
			<dialog popover class="dropdown" id="languages-dropdown">
				<ul class="dropdown-menu">
				{% for locale in _supportedLocales|sort %}
					<li lang="{{ locale }}"><a draggable="false" href="{{ locale.href }}"><small class="oojs-icon{{ locale.active ? ' oojs-icon-check' : '' }}"></small>{{ locale.display_name }}</a></li>
				{% endfor %}
				</ul>
			</dialog>
		</div>
		{% if _user %}
		<div class="dropdown-container" id="user-chooser">
			<button class="dropdown-header" popovertarget="user-dropdown">
				<span class="oojs-icon oojs-icon-userAvatar dropdown-header-collapse"></span>
				{{ 'Account'|t }}
			</button>
			<dialog popover class="dropdown" id="user-dropdown">
				<ul class="dropdown-menu">
					<li><a draggable="false" class="oojs-icon oojs-icon-userContributions" href="{{ _basePath }}/me/">{{ 'Account information'|t }}</a></li>
					{% if _logout_href %}
					<li><a draggable="false" class="oojs-icon oojs-icon-logout" href="{{ _logout_href }}">{{ 'Logout'|t }}</a></li>
					{% endif %}
				</ul>
			</dialog>
		</div>
		{% else -%}
		<div class="dropdown-container">
			<a draggable="false" class="dropdown-header" href="{{ _login_href ?? _basePath ~ '/me/' }}"><span class="oojs-icon oojs-icon-userAvatarOutline"></span>{{ 'Login'|t }}</a>
		</div>
		{% endif -%}
	</div>
</header>
{% block layout %}{% endblock %}
