<!DOCTYPE html>
<html lang="{{ _locale }}" class="{% block documentClass %}{% endblock %}">
<link rel="stylesheet" href="{{ _basePath }}/assets/letswifi.css">
{% if _branding_css_file %}
<link rel="stylesheet" href="{{ _basePath }}/assets/branding/{{ _product_shortname }}/{{ _branding_css_file }}">
{% endif %}
{% if _branding_favicon_file %}
<link rel="icon" href="{{ _basePath }}/assets/branding/{{ _product_shortname }}/{{ _branding_favicon_file }}">
{% endif %}
{% block viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% if meta_redirect ?? '' %}
<meta http-equiv="refresh" content="0; url={{ meta_redirect }}">
{% endif %}
<title>{{ _product_name }} - {% block title %}{% endblock %}</title>
<header>
	{% block header %}<span id="product-name" aria-hidden>{{ _product_name }}</span>{% endblock %}
	<div id="systray">
		<div class="dropdown-container">
			<button class="dropdown-header" popovertarget="languages-dropdown">
				<span class="oojs-icon oojs-icon-language dropdown-header-collapse"></span>{{ 'Language'|t }}
			</button>
			<dialog popover class="dropdown" id="languages-dropdown">
				<ul class="dropdown-menu">
				{% for locale in _supportedLocales %}
				{% if locale.active %}
					<li lang="{{ locale.locale }}"><a draggable="false" href="{{ locale.href }}"><small class="oojs-icon oojs-icon-check"></small>{{ locale.display_name }}</a></li>
					<li><hr>
				{% endif %}
				{% endfor %}
				{% for locale in _supportedLocales|sort %}
				{% if not locale.active %}
					<li lang="{{ locale.locale }}"><a draggable="false" href="{{ locale.href }}"><small class="oojs-icon{{ locale.active ? ' oojs-icon-check' : '' }}"></small>{{ locale.display_name }}</a></li>
				{% endif %}
				{% endfor %}
				</ul>
			</dialog>
		</div>
		{% block userMenu %}
		{% if _user %}
		<div class="dropdown-container">
			<button class="dropdown-header" popovertarget="user-dropdown">
				<span class="oojs-icon oojs-icon-userAvatar dropdown-header-collapse"></span>
				{{ 'Account'|t }}
			</button>
			<dialog popover class="dropdown" id="user-dropdown">
				<ul class="dropdown-menu">
					<li><a draggable="false" href="{{ _basePath }}/app/"><small class="oojs-icon oojs-icon-specialPages dropdown-header-collapse"></small>{{ 'Set up your device'|t }}</a></li>
					<li><a draggable="false" href="{{ _basePath }}/me/"><small class="oojs-icon oojs-icon-userContributions"></small>{{ 'Account information'|t }}</a></li>
					{% if _admin_href %}
					<li><a draggable="false" href="{{ _admin_href }}"><small class="oojs-icon oojs-icon-settings"></small>{{ 'Control panel'|t }}</a></li>
					{% endif %}
					{% if _logout_href %}
					<li><hr>
					<li><a draggable="false" href="{{ _logout_href }}"><small class="oojs-icon oojs-icon-logout"></small>{{ 'Logout'|t }}</a></li>
					{% endif %}
				</ul>
			</dialog>
		</div>
		{% else -%}
		<div class="dropdown-container">
			<a draggable="false" class="dropdown-header" href="{{ _login_href ?? (_basePath ~ '/me/') }}"><span class="oojs-icon oojs-icon-userAvatarOutline"></span>{{ 'Login'|t }}</a>
		</div>
		{% endif -%}
		{% endblock %}
	</div>
</header>
{% block layout %}{% endblock %}
