{% extends 'base.twig' %}

{% block title %}{{ code }} {{ code_explain }}{% endblock %}

{% block layout %}
<main>
<h1>{{ code }} {{ code_explain }}</h1>
<p>{{ t('An error occurred') }}
<p><code>{{ message }}</code>
{% if stacktrace %}
<p>{{ t('Debug info') }}
<pre>{{ stacktrace }}

</pre>
{% else %}
<p>{{ t('Contact helpdesk') }}</p>
{% endif %}
</main>
{% endblock %}
