{% extends 'base.twig' %}

{% block title %}{{ code }} {{ code_explain }}{% endblock %}

{% block layout %}
<main>
<h1>{{ code }} {{ code_explain }}</h1>
<p>{{ 'An error occurred'|t }}
<p><code>{{ message }}</code>
{% if stacktrace is defined %}
<p>{{ 'Debug info'|t }}
<pre>{{ stacktrace }}

</pre>
{% else %}
<p>{{ 'Contact helpdesk'|t }}</p>
{% endif %}
</main>
{% endblock %}
