{% extends 'menu.twig' %}

{% block title %}{{ tattr('Account information') }}{% endblock %}

{% block content %}
<main>
	<section class="user highlight">
		<h1>{{ t('Account information') }}</h1>
		<dl>
			<dt>{{ t('User ID') }}</dt>
			<dd><code>{{ user.user_id }}</code></dd>
		</dl>
{% if user.affiliations %}
		<dl>
			<dt>{{ t('Affiliations') }}</dt>
			<dd>
				<ul>
{% for affiliation in user.affiliations %}
					<li><code>{{ affiliation }}</code></li>
{% endfor %}
				</ul>
			</dd>
		</dl>
		<p>
			{{ t('User information is not stored after you log out.') }}
			{{ t('User ID is connected to credentials while they are valid and short time thereafter.') }}
{% endif %}
	</section>
	<section class="realms" id="realm-picker">
		<h1>{{ t('Available realms') }}</h1>
{% if realms %}
			<ul>

{% for realm in realms %}
				<li>
{% if realm.logo_endpoint %}
					<img src="{{ realm.logo_endpoint }}" alt="Logo" aria-hidden="true">
{% endif %}
					<strong>{{ t(realm.display_name) }}</strong>
					<small>{{ realm.realm_id }}</small>
{% if realm.description %}
					<br>{{ t(realm.description) }}
{% endif %}
				</li>
{% endfor %}
			</ul>
{% else %}
			<p>{{ t('No realms available') }}</p>
{% endif %}

	</section>

	<form method="POST" action="{{ form_action }}">
		<h1>{{ t('Authorised applications') }}</h1>
{% if grants %}
		<table>
			<tr>
				<th>{{ t('Client ID') }}</th>
				<th>{{ t('Issued') }}</th>
				<th>{{ t('Expires') }}</th>
			</tr>
{% for grant in grants %}
			<tr>
				<td>{{ grant.client_id }}</td>
				<td>{{ grant.not_before|split('T', 2)|first }}</td>
				<td>{{ grant.not_after|split('T', 2)|first }}</td>
				<td><button class="btn-danger" name="revoke_grant" value="{{ grant.session_id }}">{{ t('Revoke') }}</button></td>
			</tr>
{% endfor %}
		</table>
		{% else %}
		<p>{{ t('No authorised applications') }}
		{% endif %}
	</form>

	<form method="POST" action="{{ form_action }}">
		<h1>{{ t('Credentials') }}</h1>
{% if credentials %}
		<table>
			<tr>
				<th>{{ t('Credential') }}</th>
				<th>{{ t('Issued') }}</th>
				<th>{{ t('Expires') }}</th>
			</tr>
{% for credential in credentials %}
			<tr>
				<td><span class="{{ credential.revoked ? 'revoked' : '' }}">{{ credential.credential_id }}</span></td>
				<td>{{ credential.not_before|split('T', 2)|first }}</td>
				<td>{{ credential.not_after|split('T', 2)|first }}</td>
				<td><button class="btn-danger" name="revoke_credential" value="{{ credential.credential_id }}">{{ t('Revoke') }}</button></td>
			</tr>
{% endfor %}
		</table>
		{% else %}
		<p>{{ t('No credentials') }}
		{% endif %}
	</form>
</main>
{% endblock %}
