{% extends 'menu.twig' %}

{% block title %}{{ 'New configuration profile'|translate_raw }}{% endblock %}

{% block content %}
<main>
	<h1>{{ 'Manual certificate creation'|t }}</h1>
	<p>{{ 'We recommend that you use the app'|t }}</p>
	<ul class="apps buttons">
		<li><a class="btn btn-default" href="{{ app.url }}">{{ 'Download the app'|t }}</a></li>
	</ul>
	<hr>
	<details>
		<summary>{{ 'Create configuration profile'|t }} ({{ 'advanced'|t }})</summary>
		<section class="highlight">
		<h1>{{ 'Manual advanced profile creation'|t }}</h1>
		<form method="post">
			<p>
				{{ 'Alternatively, you can use a configuration profile'|t }}
			<div class="fieldsets">
{{ include('realm-picker.twig') }}
				<fieldset id="profile-encrypt">
					<legend accesskey="e">{{ 'Encryption'|t }}</legend>
				<p>
					{{ 'When encrypting you need a passphrase when installing'|t }}
				<p>
					{{ 'Passphrase is only needed during installation'|t }}
				<p>
					{{ 'Use the feature depending encryption support on your system'|t }}
				<p>
					<label for="passphrase">{{ 'Enter passphrase for encryption'|t }} ({{ 'optional'|t }})</label><br>
					<input id="passphrase" name="passphrase" type="password" size="12">
				</fieldset>
			</div>
			<ul class="apps devices buttons">
{% for formatName, formatData in formats %}
				<li><button type="submit" name="format" value="{{ formatName }}" class="btn btn-default">{{ formatData.name|t }}</button></li>
{% endfor %}
			</ul>
		</form></section>
	</details>
</main>
{% endblock %}
