{% extends 'dialog.twig' %}

{% block title %}{{ 'Profile download'|translate_raw }}{% endblock %}

{% block content %}
<main>
<section class="highlight">
<form method="POST" action="{{ action }}" id="form-download">
<h1>{{ 'Download %s profile'|t(format) }}</h1>
{% if realms|length == 1 %}
<p>{{ 'Download starting'|t }}</p>
<details>
	<summary>{{ 'Download not starting?'|t }}</summary>
{% else %}
{{ include('realm-picker.twig') }}
{% endif %}
	<p><input type="hidden" name="format" value="{{ format }}"><button type="submit" class="btn btn-default" id="btn-download">{{ 'Start download'|t }}</button></p>
</form>
</section>
{% if realms|length == 1 %}
</details>
{% endif %}

{% if passphrase %}
<p>{{ 'Use passphrase when prompted:'|t }}</p>
<p id="passphrase-show">{{ passphrase }}</p>
{% endif %}

{% if format == 'apple-mobileconfig' %}
<p>{{ 'apple-mobileconfig instructions'|t }}</p>
<p aria-hidden="true" class="fullwidth">
	<picture class="screenshot mac">
		<source srcset="{{ _basePath }}/assets/mac/sequoia-dark.png" media="(prefers-color-scheme: dark)">
		<img src="{{ _basePath }}/assets/mac/sequoia.png">
	</picture>
</p>
{% endif %}

{% if format == 'google-onc' %}
<p>{{ 'google-onc instructions'|t }}</p>
{% endif %}

</main>

{% if realms|length != 1 %}
{# We use a CSP with script-src: none, so this won't work:
<script>
	document.getElementById('form-download').submit();
	document.getElementById('btn-download').remove();
</script>
#}
{% endif %}
{% endblock %}
