{% extends 'dialog.twig' %}

{% block title %}{{ tattr('Authorize %s', product_name) }}{% endblock %}

{% block content %}
<form method="post">
{% if logoutUrl %}
<header>
	<p class="logout">
		<a href="{{ logoutUrl }}" class="btn-txt">
			{{ t('Not %s?', user.userId|escape) }}?
		</a>
	</p>
</header>
{% endif %}
<main>
{% if realms|length == 1 %}
	<p>{{ t('Do you want to issue a pseudo-credential?') }}</p>
	<p class="text-center"><button type="submit" class="btn btn-default" name="{{ postField }}" value="{{ postValue }}">{{ t('Approve') }}</button></p>
	<hr>
	<details>
		<summary>{{ t('Why is this needed?') }}</summary>
		<p>{{ t('Requiring a manual step prevents automated enrollment.') }}</p>
	</details>
{% else %}
	<p>{{ t('Select your user realm') }}</p>
{{ include('realm-picker.twig') }}
	<p class="text-center"><button type="submit" class="btn btn-default" name="{{ postField }}" value="{{ postValue }}">{{ t('Continue') }}</button></p>
{% endif %}
</main>
</form>
{% endblock %}
