<!DOCTYPE html>
<html lang="{{ _lang }}" class="{% block documentClass %}{% endblock %}">
<link rel="stylesheet" href="{{ _basePath }}/assets/geteduroam.css">
<link rel="icon" href="{{ _basePath }}/assets/geteduroam.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if meta_redirect %}
<meta http-equiv="refresh" content="0; url={{ meta_redirect }}">
{% endif %}
<title>geteduroam - {% block title %}{% endblock %}</title>
{% block layout %}{% endblock %}
<footer>
	<ul id="languages">
{% for displayName,locale in _supportedLocales %}
{% if locale == _locale %}
		<li lang="{{ locale }}"><strong>{{ displayName }}</strong></li>
{% else %}
		<li lang="{{ locale }}"><a href="?lang={{ locale|split('-',2)|first }}">{{ displayName }}</a></li>
{% endif %}
{% endfor %}
	</ul>
</footer>
