{% extends "dialog.twig" %}

{% block title %}{{ t('Profile download') }}{% endblock %}

{% block content %}
<main>
<h1>geteduroam<small>– eduroam authentication made easy</small></h1>
<form method="POST" action="{{ action }}" id="form-download">
{% if realms|length == 1 %}
<p>{{ t('Download starting') }}</p>
<details>
	<summary>{{ t('Download not starting?') }}</summary>
{% else %}
{% include 'realm-picker.twig' %}
{% endif %}
	<p><input type="hidden" name="format" value="{{ format }}"><button type="submit" class="btn btn-default" id="btn-download">{{ t('Start download') }}</button></p>
</form>
{% if realms|length == 1 %}
</details>
{% endif %}
<hr>

{% if passphrase %}
<p>{{ t('Use passphrase when prompted:') }}</p>
<p id="passphrase-show">{{ passphrase }}</p>
<hr>
{% endif %}

{% if format == 'apple-mobileconfig' %}
<p>{{ t('apple-mobileconfig instructions') }}</p>
<p aria-hidden="true">
	<picture class="screenshot mac">
	<source srcset="{{ _basePath }}/assets/mac/sonoma-dark.png" media="(prefers-color-scheme: dark)">
	<img src="{{ _basePath }}/assets/mac/sonoma.png">
</picture>
</p>
{% endif %}

{% if format == 'google-onc' %}
<p>{{ t('google-onc instructions') }}</p>
{% endif %}

</main>

{% if realms|length != 1 %}
{# We use a CSP with script-src: none, so this won't work:
<script>
	document.getElementById('form-download').submit();
	document.getElementById('btn-download').remove();
</script>
#}
{% endif %}
{% endblock %}
