{% extends 'menu.twig' %}

{% block title %}New configuration profile{% endblock %}

{% block content %}
<main>
	<h1>geteduroam<small>– eduroam authentication made easy</small></h1>
	<p>{{ t('We recommend that you use the app') }}</p>
	<ul class="apps buttons">
		<li><a class="btn btn-default" href="{{ app.url }}">{{ t('Download the app') }}</a></li>
	</ul>
	<hr>
	<details>
		<summary>{{ t('Create configuration profile') }} ({{ t('advanced') }})</summary>
		<form method="post">
			<p>
				{{ t('Alternatively, you can use a configuration profile') }}
			<div class="fieldsets">
{{ include('realm-picker.twig') }}
				<fieldset id="profile-encrypt">
					<legend accesskey="e">{{ t('Encryption') }}</legend>
				<p>
					{{ t('When encrypting you need a passphrase when installing') }}
				<p>
					{{ t('Passphrase is only needed during installation') }}
				<p>
					{{ t('Use the feature depending encryption support on your system') }}
				<p>
					<label for="passphrase">{{ t('Enter passphrase for encryption') }} ({{ t('optional') }})</label><br>
					<input id="passphrase" name="passphrase" type="password" size="12">
				</fieldset>
			</div>
			<ul class="apps devices buttons">
{% for formatName, formatData in formats %}
				<li><button type="submit" name="format" value="{{ formatName }}" class="btn btn-default">{{ t(formatData.name) }}</button></li>
{% endfor %}
			</ul>
		</form>
	</details>
</main>
{% endblock %}
