{% if realms|length > 1 %}
			<fieldset id="realm-picker">
				<legend accesskey="r">{{ t('Realm') }}</legend>
				<ul>

{% for realm in realms %}
					<li>
						<input type="radio" name="realm" value="{{ realm.realmId }}" id="realm_{{ realm.realmId }}" required>
						<label for="realm_{{ realm.realmId }}"><strong>{{ t(realm.displayName) }}</strong> <small>{{ realm.realmId }}</small>
{% if realm.description %}
							<br>{{ t(realm.description) }}
{% endif %}
						</label>
{% endfor %}
				</ul>
			</fieldset>
{% endif %}
